<a href="https://colab.research.google.com/github/mhenzl23/gitdemo/blob/main/Hotovo_DU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/CBP-DS/ds_intensive_course/main/data/titanic.csv?token=GHSAT0AAAAAACT7SJEOS3Y7WD47VCI4Q7SMZTZ2IBA'
df = pd.read_csv(url)

In [3]:
#task 1
df.shape

(891, 12)

In [4]:
df[['LastName', 'FirstName']] = df['Name'].str.split(',', expand=True)

In [5]:
#task 2
df.drop(columns=['Name'], inplace=True)
set_names = set(df['LastName'])

sum_set_names = len(set_names)
print(sum_set_names)

667

In [6]:
embarked_counts = df['Embarked'].value_counts()
sex_counts = df['Sex'].value_counts()

#task 3
print(sex_counts)
print(embarked_counts)

Sex
male      577
female    314
Name: count, dtype: int64
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [7]:
#task 4
df_cabin_cleaned = df.dropna(subset=['Cabin'])

In [8]:
#task 5
df['has_family'] = (df['SibSp'] > 0) | (df['Parch'] > 0)
replacement_dict = {True: 1, False: 0}
df.replace(to_replace=replacement_dict, inplace=True)

In [9]:
#task 6
#df.drop(columns=['had_family'], inplace=True)

In [10]:
#task 8
average_age_by_sex = df.groupby('Sex')['Age'].mean().reset_index()

In [11]:
#task 9
df['no_family'] = (df['SibSp'] == 0) & (df['Parch'] == 0)
replacement_dict = {True: 1, False: 0}
df.replace(to_replace=replacement_dict, inplace=True)

no_family_ppl = df['no_family'].sum()
print(no_family_ppl)

537

In [14]:
#task 10
survivors_by_class = df.groupby('Pclass')['Survived'].sum().reset_index()
print(survivors_by_class)

   Pclass  Survived
0       1       136
1       2        87
2       3       119

In [15]:
survivors_by_sex = df.groupby('Sex')['Survived'].sum().reset_index()
print(survivors_by_sex)

      Sex  Survived
0  female       233
1    male       109

In [20]:
#task 12
df['family_members'] = df['SibSp'] + df['Parch']

In [24]:
#task 13
df['FareCategory'] = pd.qcut(df['Fare'], q=3, labels=['Cheap Fare', 'Medium Fare', 'Expensive Fare'])

In [28]:
df.sort_values('FareCategory')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,FirstName,has_family,no_family,family_members,FareCategory
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,0,1,Cheap Fare
477,478,0,3,male,29.0,1,0,3460,7.0458,NaN,S,Braund,Mr. Lewis Richard,1,0,1,Cheap Fare
471,472,0,3,male,38.0,0,0,315089,8.6625,NaN,S,Cacic,Mr. Luka,0,1,0,Cheap Fare
470,471,0,3,male,NaN,0,0,323592,7.2500,NaN,S,Keefe,Mr. Arthur,0,1,0,Cheap Fare
468,469,0,3,male,NaN,0,0,36209,7.7250,NaN,Q,Scanlan,Mr. James,0,1,0,Cheap Fare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,181,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,Miss. Constance Gladys,1,0,10,Expensive Fare
634,635,0,3,female,9.0,3,2,347088,27.9000,NaN,S,Skoog,Miss. Mabel,1,0,5,Expensive Fare
383,384,1,1,female,35.0,1,0,113789,52.0000,NaN,S,Holverson,Mrs. Alexander Oskar (Mary Aline Towner),1,0,1,Expensive Fare
643,644,1,3,male,NaN,0,0,1601,56.4958,NaN,S,Foo,Mr. Choong,0,1,0,Expensive Fare
445,446,1,1,male,4.0,0,2,33638,81.8583,A34,S,Dodge,Master. Washington,1,0,2,Expensive Fare

In [33]:
fare_categories = df.groupby('FareCategory').size().reset_index(name='Count')
print(fare_categories)

     FareCategory  Count
0      Cheap Fare    308
1     Medium Fare    288
2  Expensive Fare    295

In [37]:
#task 14
fare_categories_df = pd.DataFrame({
    'FareCategory': ['Cheap Fare', 'Medium Fare', 'Expensive Fare'],
    'Count': [308, 288, 295]
})

In [38]:
#task 15
fare_categories_df.rename(columns={'Count': 'NumberOfPassengers'}, inplace=True)

In [43]:
#task 11
df['Cabin'].fillna('No Value', inplace=True)

In [51]:
filtered_cabin_df = df[df['Cabin'] == 'No Value']
filtered_cabin_df.sample()

grouped_df = filtered_cabin_df.groupby('Pclass').size().reset_index(name='count')
print(grouped_df)

   Pclass  count
0       1     40
1       2    168
2       3    479